---
import SmallLink from "./SmallLink.astro";
---

<footer
  class="flex flex-col items-start justify-center max-w-screen-lg gap-4 px-4 pb-4 mx-auto"
>
  <span class="text-sm text-center">
    Made by <a
      href="https://www.linkedin.com/in/alexisscuderi/"
      target="_blank"
      class="underline transition-colors ease-linear underline-offset-2 hover:text-blue-400 active:text-blue-400"
    >
      Scu
    </a>
  </span>

  <span class="text-sm text-center">Construido con Astro y Tailwind Css</span>

  <div class="flex flex-wrap justify-center gap-3">
    <a
      href="https://github.com/a-scu"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 p-1 text-sm font-medium truncate transition-colors ease-linear cursor-pointer w-fit group hover:text-blue-400 active:text-blue-400"
    >
      GitHub
      <ion-icon
        name="logo-github"
        class="transition-colors ease-linear size-3.5 group-hover:text-blue-400 group-active:text-blue-400"
      ></ion-icon>
    </a>

    <a
      href="https://www.linkedin.com/in/alexisscuderi/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 p-1 text-sm font-medium truncate transition-colors ease-linear cursor-pointer w-fit group hover:text-blue-400 active:text-blue-400"
    >
      LinkedIn
      <ion-icon
        name="logo-linkedin"
        class="transition-colors ease-linear size-3.5 group-hover:text-blue-400 group-active:text-blue-400"
      ></ion-icon>
    </a>

    <a
      href="https://www.canva.com/design/DAE87irucb4/DrMIZOHSo2ADOOkzjA2QOw/view?utm_content=DAE87irucb4&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 p-1 text-sm font-medium truncate transition-colors ease-linear cursor-pointer w-fit group hover:text-blue-400 active:text-blue-400"
    >
      scuderialexis2001@gmail.com
      <ion-icon
        name="mail"
        class="transition-colors ease-linear size-3.5 group-hover:text-blue-400 group-active:text-blue-400"
      ></ion-icon>
    </a>

    <a
      href="https://api.whatsapp.com/send/?phone=1134611064&text&type=phone_number&app_absent=0"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 p-1 text-sm font-medium truncate transition-colors ease-linear cursor-pointer w-fit group hover:text-blue-400 active:text-blue-400"
    >
      +54 11-3461-1064
      <ion-icon
        name="logo-whatsapp"
        class="transition-colors ease-linear size-3.5 group-hover:text-blue-400 group-active:text-blue-400"
      ></ion-icon>
    </a>

    <a
      href="https://www.canva.com/design/DAE87irucb4/DrMIZOHSo2ADOOkzjA2QOw/view?utm_content=DAE87irucb4&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 p-1 text-sm font-medium truncate transition-colors ease-linear cursor-pointer w-fit group hover:text-blue-400 active:text-blue-400"
    >
      Currículum
      <ion-icon
        name="document-text"
        class="transition-colors ease-linear size-3.5 group-hover:text-blue-400 group-active:text-blue-400"
      ></ion-icon>
    </a>
  </div>
</footer>
