---
import Link from "./Link.astro";

const LINKS = [
  {
    href: "https://github.com/a-scu",
    target: "_blank",
    name: "GitHub",
    icon: "logo-github",
  },
  {
    href: "https://www.linkedin.com/in/alexisscuderi/",
    target: "_blank",
    name: "LinkedIn",
    icon: "logo-linkedin",
  },
  {
    href: "https://www.linkedin.com/in/alexisscuderi/",
    target: "_blank",
    name: "scuderialexis2001@gmail.com",
    icon: "mail",
  },
  {
    href: "https://api.whatsapp.com/send/?phone=1134611064&text&type=phone_number&app_absent=0",
    target: "_blank",
    name: "+54 11-3461-1064",
    icon: "logo-whatsapp",
  },
  {
    href: "https://www.canva.com/design/DAE87irucb4/DrMIZOHSo2ADOOkzjA2QOw/view?utm_content=DAE87irucb4&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink",
    target: "_blank",
    name: "Currículum",
    icon: "document-text",
  },
];
---

<footer
  class="flex flex-col items-start justify-center gap-2 px-4 pb-4 mx-auto w-fit max-sm:pb-16"
>
  <div class="flex flex-col w-full max-md:items-center">
    <span class="text-sm">
      Made by <a
        href="https://www.linkedin.com/in/alexisscuderi/"
        target="_blank"
        class="underline transition-colors ease-linear rounded outline-none cursor-pointer outline-1 outline-transparent outline outline-offset-2 focus-visible:outline-white underline-offset-2 hover:text-blue-400 active:text-blue-400"
      >
        Scu
      </a>
    </span>

    <span class="text-sm">Construido con Astro y Tailwind Css</span>
  </div>

  <div class="flex flex-wrap justify-center gap-3">
    {
      LINKS.map((link) => (
        <Link href={link.href} target={link.target} icon={link.icon}>
          {link.name}
        </Link>
      ))
    }
  </div>
</footer>
