<header
  class="fixed z-20 flex items-center justify-center w-full h-16 p-4 backdrop-blur-3xl"
>
  <button
    class="flex items-center justify-center transition-transform ease-linear size-8 sm:hidden group active:scale-95"
  >
    <ion-icon
      name="grid-outline"
      class="transition-colors ease-linear size-6 group-hover:text-blue-400"
    ></ion-icon>
  </button>

  <nav class="flex items-center max-sm:hidden gap-x-4">
    <a
      href="/#welcome"
      class="px-1.5 text-lg transition ease-linear hover:text-blue-400 active:scale-95"
      >Inicio</a
    >
    <a
      href="/#about"
      class="px-1.5 text-lg transition ease-linear hover:text-blue-400 active:scale-95"
      >Sobre Mi</a
    >
    <a
      href="/#projects"
      class="px-1.5 text-lg transition ease-linear hover:text-blue-400 active:scale-95"
      >Proyectos</a
    >
    <a
      href="/#contact"
      class="px-1.5 text-lg transition ease-linear hover:text-blue-400 active:scale-95"
      >Contacto</a
    >
  </nav>
</header>
