---
const { href, target, Icon } = Astro.props;
---

<a
  href={href}
  target={target}
  rel="noopener noreferrer"
  class="flex items-center gap-1 rounded outline-none cursor-pointer group outline-1 outline-transparent outline outline-offset-2 focus-visible:outline-white w-fit"
>
  {
    Icon && (
      <Icon className="transition-colors ease-linear size-3.5 group-hover:text-sky-400 group-active:text-sky-400" />
    )
  }
  <span
    class="text-sm font-medium truncate transition-colors ease-linear group-hover:text-sky-400 group-active:text-sky-400"
    ><slot />
  </span>
</a>
