---
const { href, target, icon } = Astro.props;
---

<a
  href={href}
  target={target}
  rel="noopener noreferrer"
  class="w-fit group flex gap-1 items-center px-2.5 border py-1.5 text-sm font-medium truncate hover:text-blue-400 active:text-blue-400 outline-none border-white hover:border-blue-400 active:border-blue-400 outline-1 outline-transparent outline rounded-full outline-offset-0 focus-visible:outline-white transition ease-linear active:scale-95 cursor-pointer"
>
  <slot />
  {
    icon && (
      <ion-icon
        name={icon}
        class=" transition-colors ease-linear size-3.5 group-hover:text-blue-400 group-active:text-blue-400"
      />
    )
  }
</a>
