---
import ProjectItem from "../components/ProjectItem.astro";

import previate_app_home from "../img/projects/previate-app/previate-app-home.webp";
import previate_app_juegos from "../img/projects/previate-app/previate-app-juegos.webp";
import previate_app_yo_nunca from "../img/projects/previate-app/previate-app-yo-nunca.webp";
import previate_app_ruleta from "../img/projects/previate-app/previate-app-ruleta.webp";
import previate_app_freestyle from "../img/projects/previate-app/previate-app-freestyle.webp";
import previate_app_mayor_menor from "../img/projects/previate-app/previate-app-mayor-menor.webp";
import previate_app_truquito from "../img/projects/previate-app/previate-app-truquito.webp";
import previate_app_acerca_de from "../img/projects/previate-app/previate-app-acerca-de.webp";

import random_quiz_take_quiz_desktop from "../img/projects/random-quiz/random-quiz-take-quiz-desktop.webp";
import random_quiz_edit_quiz_desktop from "../img/projects/random-quiz/random-quiz-edit-quiz-desktop.webp";
import random_quiz_profile_mobile from "../img/projects/random-quiz/random-quiz-profile-mobile.webp";
import random_quiz_edit_quiz_1_mobile from "../img/projects/random-quiz/random-quiz-edit-quiz-1-mobile.webp";
import random_quiz_edit_quiz_2_mobile from "../img/projects/random-quiz/random-quiz-edit-quiz-2-mobile.webp";

import previate_web_welcome_desktop from "../img/projects/previate-web/previate-web-welcome-desktop.webp";
import previate_web_1_desktop from "../img/projects/previate-web/previate-web-1-desktop.webp";
import previate_web_2_desktop from "../img/projects/previate-web/previate-web-2-desktop.webp";
import previate_web_3_desktop from "../img/projects/previate-web/previate-web-3-desktop.webp";
import previate_web_welcome_mobile from "../img/projects/previate-web/previate-web-welcome-mobile.webp";
import previate_web_1_mobile from "../img/projects/previate-web/previate-web-1-mobile.webp";
import previate_web_2_mobile from "../img/projects/previate-web/previate-web-2-mobile.webp";

import imdb_clone_home_desktop from "../img/projects/imdb-clone/imdb-clone-home-desktop.webp";
import imdb_clone_home_mobile from "../img/projects/imdb-clone/imdb-clone-home-mobile.webp";

import Html from "./icons-astro/Html.astro";
import Css from "./icons-astro/Css.astro";
import Javascript from "./icons-astro/Javascript.astro";
import React from "./icons-astro/React.astro";
import Next from "./icons-astro/Next.astro";
import AstroLogo from "./icons-astro/AstroLogo.astro";
import Expo from "./icons-astro/Expo.astro";
import Tailwind from "./icons-astro/Tailwind.astro";
import Firebase from "./icons-astro/Firebase.astro";
import Git from "./icons-astro/Git.astro";
import GitHubFill from "./icons-astro/GitHubFill.astro";

const TECHNOLOGIES = {
  html: {
    icon: Html,
    name: "HTML",
  },
  css: {
    icon: Css,
    name: "CSS",
  },
  javascript: {
    icon: Javascript,
    name: "Javascript",
    color: "bg-yellow-500 text-black font-semibold",
  },
  react: {
    icon: React,
    name: "React.js",
    color: "bg-[#222222] text-[#00D8FF]",
  },
  next: {
    icon: Next,
    name: "Next.js",
    color: "bg-black text-white",
  },
  astro: {
    icon: AstroLogo,
    name: "Astro",
  },
  react_native: {
    icon: React,
    name: "React Native",
    color: "bg-[#222222] text-[#00D8FF]",
  },
  expo: {
    icon: Expo,
    name: "Expo",
    color: "bg-white text-black font-semibold",
  },
  tailwind: {
    icon: Tailwind,
    name: "Tailwind CSS",
    color: "bg-sky-700",
  },
  firebase: {
    icon: Firebase,
    name: "Firebase",
    color: "bg-amber-700 text-white",
  },
  git: {
    icon: Git,
    name: "Git",
  },
  github: {
    icon: GitHubFill,
    name: "GitHub",
  },
};

const PROJECTS = [
  {
    id: "previate-esta-app",
    title: "Previate Esta",
    description:
      "Aplicación de juegos para previas con más de 1 millón de descargas.",
    body: "Previate Esta es una aplicación de juegos para previas disponible para Android y iOS muy conocida en Argentina y cuenta con más de un millón de descargas entre ambas plataformas.\nFui contratado en noviembre de 2022 para rehacer desde cero la aplicación y añadirle nuevas funciones, el creador quería un código más limpio y optimizado, además de agregar nuevos juegos y funciones.\nDesde que comencé a trabajar, me encargué de reconstruir toda la app existente anteriormente desde cero.\nImplementé el nuevo diseño de la aplicación, implementé un sistema de idiomas, añadí más de 10 juegos nuevos, configuré anuncios personalizados, implementé un sistema de compras con Revenue Cat, entre otras cosas.\nActualmente, sigo trabajando en las nuevas actualizaciones y soy el único desarrollador activo.\nLa app fue construida con React Native, Expo, Native Wind (Tailwind CSS), Firebase, entre otras tecnologías.",
    category: "Aplicación móvil",
    technologies: [
      TECHNOLOGIES.react_native,
      TECHNOLOGIES.javascript,
      TECHNOLOGIES.expo,
      TECHNOLOGIES.tailwind,
      TECHNOLOGIES.firebase,
    ],
    //
    web: "https://previateesta.com/",
    playStore:
      "https://play.google.com/store/apps/details?id=com.gmail.lcrmit25.PreviateEsta&hl=en&gl=US",
    appStore: "https://apps.apple.com/pe/app/previate-esta/id1482071439",
    //
    imagesMobile: [
      {
        image: previate_app_home,
        alt: "Pantalla de inicio",
      },
      {
        image: previate_app_juegos,
        alt: "Juegos",
      },
      {
        image: previate_app_yo_nunca,
        alt: "Yo nunca",
      },
      { image: previate_app_ruleta, alt: "Ruleta" },
      {
        image: previate_app_freestyle,
        alt: "Freestyle",
      },
      {
        image: previate_app_mayor_menor,
        alt: "Mayor menor",
      },
      { image: previate_app_truquito, alt: "Truquito" },
      {
        image: previate_app_acerca_de,
        alt: "Acerca de",
      },
    ],
  },

  {
    id: "random-quiz",
    title: "Random Quiz",
    description: "Página de encuestas inspirada en la conocida página 'uQuiz'.",
    body: "Random Quiz es una página de encuestas o tests de personalidad que funciona como una red social. \nLos usuarios pueden crearse una cuenta, subir sus tests, personalizar su perfil, realizar otros tests, darles like o marcarlos como favoritos, etc.\nEs mi proyecto más grande, y aún no está terminado, ya que no me di cuenta de la inmensidad de trabajo que requería crear una red social desde cero, hasta que me adentré en la tarea de hacerlo.\nFaltan cosas muy importantes como la seguridad de las cuentas y el login (al especializarme en frontend decidí no invertir mi tiempo en esto), diseño, optimizaciones, el menú mobile, entre otras cosas que terminaré en cuanto encuentre el tiempo necesario.\nLa página está hecha con Next.js, Tailwind CSS y Firebase, entre otras tecnologías.",
    category: "Página web",
    technologies: [
      TECHNOLOGIES.next,
      TECHNOLOGIES.react,
      TECHNOLOGIES.javascript,
      TECHNOLOGIES.tailwind,
      TECHNOLOGIES.firebase,
    ],
    //
    web: "https://random-quiz-7q77ofx8a-a-scu.vercel.app/",
    github: "https://github.com/a-scu/Random-Quiz-Web",
    //
    imagesDesktop: [
      { image: random_quiz_take_quiz_desktop, alt: "Tomar Quiz" },
      {
        image: random_quiz_edit_quiz_desktop,
        alt: "Editar quiz",
      },
    ],
    imagesMobile: [
      { image: random_quiz_profile_mobile, alt: "Perfil" },
      {
        image: random_quiz_edit_quiz_1_mobile,
        alt: "Editar quiz 1",
      },
      {
        image: random_quiz_edit_quiz_2_mobile,
        alt: "Editar quiz 2",
      },
    ],
  },

  {
    id: "previate-esta-web",
    title: "Previate Esta",
    description:
      "Página web de la exitosa app de juegos para previas 'Previate Esta'.",
    body: "Previate Esta es una aplicación de juegos para previas disponible para Android e iOS. Es muy conocida en Argentina y cuenta con más de un millón de descargas entre ambas plataformas.\nLlevo trabajando en la aplicación desde 2022, y en octubre de 2023 fui contratado para crear el sitio web, ya que el anterior tenía mucho tiempo sin ser actualizado.\nPara construirlo utilicé React.js, Tailwind CSS y Firebase, entre otras tecnologías.",
    category: "Página Web",
    technologies: [
      TECHNOLOGIES.react,
      TECHNOLOGIES.javascript,
      TECHNOLOGIES.tailwind,
      TECHNOLOGIES.firebase,
    ],
    //
    web: "https://previateesta.com/",
    //
    imagesDesktop: [
      { image: previate_web_welcome_desktop, alt: "Welcome" },
      { image: previate_web_1_desktop, alt: "Sección 1" },
      { image: previate_web_2_desktop, alt: "Sección 2" },
      { image: previate_web_3_desktop, alt: "Sección 3" },
    ],
    imagesMobile: [
      { image: previate_web_welcome_mobile, alt: "Welcome" },
      { image: previate_web_1_mobile, alt: "Sección 2" },
      { image: previate_web_2_mobile, alt: "Sección 3" },
    ],
  },

  {
    id: "imdb-clone",
    title: "IMDb Clone",
    description:
      "Página con información sobre películas inspirada en la conocida página 'IMDb'.",
    body: "IMDb Clone es una página simple que obtiene datos desde una API con información sobre series, películas, documentales, entre otros contenidos audiovisuales, y los muestra al usuario en una interfaz limpia y amigable.\nEstá inspirada en la conocida página 'IMDb' (Internet Movie Database), y la utilicé principalmente para aprender los conceptos de Next.js (server-side rendering, fetching, etc.) y Tailwind CSS, ya que este fue mi primer proyecto con ambas tecnologías.",
    category: "Página Web",
    technologies: [
      TECHNOLOGIES.next,
      TECHNOLOGIES.react,
      TECHNOLOGIES.javascript,
      TECHNOLOGIES.tailwind,
    ],
    //
    web: "https://imdb-clone-i8k08k7im-a-scu.vercel.app/",
    github: "https://github.com/a-scu/IMDb-Clone",
    //
    imagesDesktop: [{ image: imdb_clone_home_desktop, alt: "Inicio" }],
    imagesMobile: [{ image: imdb_clone_home_mobile, alt: "Inicio" }],
  },
];
---

<section
  id="projects"
  class="flex flex-col justify-center w-full gap-8 pt-8 pb-4 sm:pb-8 sm:pt-24"
>
  <h2 class="px-4 text-3xl font-extrabold">Proyectos</h2>

  <div class="flex flex-col gap-8">
    {
      PROJECTS.map((el, i) => (
        <>
          <ProjectItem data={el} />
        </>
      ))
    }
  </div>
</section>
