---
import TechnologyItem from "./TechnologyItem.astro";

import Html from "../components/icons-astro/Html.astro";
import Css from "../components/icons-astro/Css.astro";
import Javascript from "../components/icons-astro/Javascript.astro";
import React from "../components/icons-astro/React.astro";
import Next from "../components/icons-astro/Next.astro";
import AstroLogo from "./icons-astro/AstroLogo.astro";
import Expo from "../components/icons-astro/Expo.astro";
import Tailwind from "../components/icons-astro/Tailwind.astro";
import Firebase from "../components/icons-astro/Firebase.astro";
import Git from "../components/icons-astro/Git.astro";
import GitHubFill from "../components/icons-astro/GitHubFill.astro";

const TECHNOLOGIES = [
  {
    icon: Html,
    name: "HTML",
  },
  {
    icon: Css,
    name: "CSS",
  },
  {
    icon: Javascript,
    name: "Javascript",
  },
  {
    icon: React,
    name: "React.js",
  },
  {
    icon: Next,
    name: "Next.js",
  },
  {
    icon: AstroLogo,
    name: "Astro",
  },
  {
    icon: React,
    name: "React Native",
  },
  {
    icon: Expo,
    name: "Expo",
  },
  {
    icon: Tailwind,
    name: "Tailwind CSS",
  },
  {
    icon: Firebase,
    name: "Firebase",
  },
  {
    icon: Git,
    name: "Git",
  },
  {
    icon: GitHubFill,
    name: "GitHub",
  },
];
---

<div class="flex flex-wrap w-full gap-4">
  {
    TECHNOLOGIES.map((el) => (
      <TechnologyItem Icon={el.icon}>{el.name}</TechnologyItem>
    ))
  }
</div>
