---
import PillLink from "./PillLink.astro";

const LINKS = [
  {
    href: "https://github.com/a-scu",
    target: "_blank",
    name: "GitHub",
    icon: "logo-github",
  },
  {
    href: "https://www.linkedin.com/in/alexisscuderi/",
    target: "_blank",
    name: "LinkedIn",
    icon: "logo-linkedin",
  },
  {
    href: "https://www.linkedin.com/in/alexisscuderi/",
    target: "_blank",
    name: "scuderialexis2001@gmail.com",
    icon: "mail",
  },
  {
    href: "https://api.whatsapp.com/send/?phone=1134611064&text&type=phone_number&app_absent=0",
    target: "_blank",
    name: "+54 11-3461-1064",
    icon: "logo-whatsapp",
  },
  {
    href: "https://www.canva.com/design/DAE87irucb4/DrMIZOHSo2ADOOkzjA2QOw/view?utm_content=DAE87irucb4&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink",
    target: "_blank",
    name: "Currículum",
    icon: "document-text",
  },
];
---

<section
  id="welcome"
  class="flex flex-col w-full gap-4 px-4 pt-32 pb-8 sm:pt-44"
>
  <h1 class="flex flex-col gap-1 text-balance">
    <span class="text-2xl font-semibold w-fit"
      >Hola, soy <b class="font-extrabold text-sky-400">Scu</b></span
    >
    <span class="text-4xl font-extrabold w-fit">Desarrollador Web y Mobile</span
    >
  </h1>

  <a
    href="https://www.linkedin.com/in/alexisscuderi/"
    target="_blank"
    rel="noopener noreferrer"
    class="w-fit active:scale-95 text-center text-balance transition-transform ease-linear bg-blue-200 outline-2 outline-transparent outline outline-offset-1 text-blue-800 text-xs font-semibold px-2 py-0.5 rounded-full focus-visible:outline-white"
  >
    Disponible para contratar
  </a>

  <p class="text-lg text-pretty">
    Me especializo en desarrollo frontend, principalmente con React & React
    Native
  </p>

  <div class="flex flex-wrap w-full gap-3">
    {
      LINKS.map((link) => (
        <PillLink href={link.href} target={link.target} icon={link.icon}>
          {link.name}
        </PillLink>
      ))
    }
  </div>
</section>
