---
import SmallLink from "./SmallLink.astro";
import profile from "../img/scu-profile.webp";
---

<section id="welcome" class="flex flex-col w-full gap-4 px-4 pb-8 pt-44">
  <img
    src={profile.src}
    alt=""
    class="object-cover rounded-full shadow size-24"
  />

  <h1 class="flex flex-col gap-1 text-balance">
    <span class="text-2xl font-semibold w-fit"
      >Hola, soy <b class="font-extrabold text-blue-400">Scu</b></span
    >
    <span class="text-4xl font-extrabold flickering-neon-text w-fit"
      >Desarrollador Web y Mobile</span
    >
  </h1>

  <a
    href="https://www.linkedin.com/in/alexisscuderi/"
    target="_blank"
    rel="noopener noreferrer"
    class="w-fit active:scale-95 text-center text-balance transition-transform ease-linear bg-blue-200 outline-2 outline-transparent outline outline-offset-1 text-blue-800 text-xs font-semibold px-2 py-0.5 rounded-full focus-visible:outline-white"
  >
    Disponible para contratar
  </a>

  <p class="text-lg text-pretty">
    Me especializo en desarrollo frontend, principalmente con React & React
    Native
  </p>

  <div class="flex flex-wrap w-full gap-3">
    <SmallLink
      href="https://www.linkedin.com/in/alexisscuderi/"
      target="_blank"
      icon="logo-linkedin"
    >
      LinkedIn
    </SmallLink>
    <SmallLink
      href="https://github.com/a-scu"
      target="_blank"
      icon="logo-github"
    >
      GitHub
    </SmallLink>
    <SmallLink href="/" target="_blank" icon="mail">
      scuderialexis2001@gmail.com
    </SmallLink>
    <SmallLink
      href="https://api.whatsapp.com/send/?phone=1134611064&text&type=phone_number&app_absent=0"
      target="_blank"
      icon="logo-whatsapp"
    >
      +54 11-3461-1064
    </SmallLink>
    <SmallLink
      href="https://www.canva.com/design/DAE87irucb4/DrMIZOHSo2ADOOkzjA2QOw/view?utm_content=DAE87irucb4&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink"
      target="_blank"
      icon="document-text"
    >
      Currículum
    </SmallLink>
  </div>
</section>
