---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Desarrollador web y móvil especializado en tecnologías como React.js, Next.js, Astro, JavaScript, HTML, CSS, Tailwind CSS, React Native y Expo. Explora mi portafolio para ver mis proyectos y habilidades."
    />
    <meta
      name="keywords"
      content="Desarrollador Web, Desarrollador Móvil, React, React.js, React Native, Next js, Next.js, JavaScript, HTML, CSS, Git, GitHub, Firebase, Tailwind CSS, Expo"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <div class="absolute -z-[1] flex w-full bg-indigo-900 h-1/2 bg-1"></div>
    <div class="absolute -z-[1] flex w-full bottom-0 bg-indigo-900 h-1/2 bg-2">
    </div>

    <Header />
    <slot />
    <Footer />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
    --neon: #0369a1;
  }

  .bg-1 {
    background: linear-gradient(to right bottom, #0650a3, #1758ad, #0b50b8);
  }

  .bg-2 {
    background: linear-gradient(to right top, #0550a5, #1758ad, #0b50b8);
  }

  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    /* background: linear-gradient(to right, #075eaa, #0c2c5c); */
    /* background-color: #0a5a85; */
    min-height: 100vh;
  }

  header {
    /* background: linear-gradient(to right, #075eaa, #0c2c5c); */
    /* background-color: #0a5a85; */
  }

  #welcome {
    /* background-image: linear-gradient(to bottom, #00000000, #22247280); */
  }

  #about {
    /* background-image: linear-gradient(to bottom, #22247280, #095c4a80); */
  }

  #projects {
    /* background-image: linear-gradient(to bottom, #095c4a80, #6d1c7080); */
  }

  footer {
    /* background: #6d1c7080; */
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  .flickering-neon-text {
    animation: sky-flicker 1.5s infinite alternate;
  }

  @keyframes sky-flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow:
        0 0 4px var(--neon),
        0 0 11px var(--neon),
        0 0 19px var(--neon),
        0 0 40px var(--neon),
        0 0 80px var(--neon);
    }

    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }
</style>

<!-- bg-[linear-gradient(to_right,#ffffff10_1px,transparent_1px),linear-gradient(to_bottom,#ffffff10_1px,transparent_1px)] bg-[size:16px_32px] -->
